.hero {
    size: 100vw;
}
.ul {
    display: flex;
    list-style: none;
    justify-content: space-between;

}
a {
    text-decoration: none;
    color: blanchedalmond;
    background-color: blue;

}